<div class="container" style="margin-top:25vh;">
    <h1 class="text-center">Mockatest</h1>
    <p class="text-info" style="border-radius: 5px; border: 1px solid black; padding: 10px; margin-top: 20px;">
        Este sitio solo es una prueba de deploy en heroku.
        Presiona el botón y obtienes una nueva información falsa
        basada en una base de datos generada en Mockaroo. 
        Revisa esta <a class="text-danger" href="/info">información</a> para conocer mas a cerca de este sitio.
    </p>
    <form action="#">
        <form-group>
            <button class="btn btn-success btn-block" onclick="location.href = '/new';">Crear</button>
        </form-group>
    </form>
</div>