<div class="container" style="margin-top: 20vh;">
    <h1 class="text-center">Información util.</h1>
    <div class="container" style="border-radius: 5px; border: 1px solid black;">
        Mockatest es tan solo un test que creé para probar como se hace un deploy en heroku,
        no pretende funcionar como un generador de identidades real en ningún momento.

        <div class="container" style="margin-top: 20px;">
        Disclaimer:
        <ul class="list">
        <li>Mockatest no guarda ningún dato de tu ingreso al sitio.</li>
        <li>Mockatest no contiene información personal de personas reales.</li>
        <li>Mockatest se sirve de una base de datos con personas falsas generadas en Mockaroo.</li>
        </ul>
        </div>
        <b><span class="text-danger">Powerlevel</span></b>
    </div>
    <a href="/">Regresar al inicio...</a>
</div>